h1{
  font-family: cursive;
  color: #0ca7f4;
  text-decoration: underline;
}

.showingData{
  display: none;
}

.movie-title{
  cursor: pointer;
}

.movie-title:hover{
  text-decoration: underline;
}

.clicked{
  font-size: 20px;
  color: #00a128;
}
