<div class="">
  <h3>movies list component</h3>

  <h2>{{dataService}}</h2>

  <h1>{{movie.title}}</h1>

  <p>favorite movie</p>

  <button (click)="onShowHide(true)" [class.showingData]="showData === true">Show date</button>
  <button (click)="onShowHide(false)" [class.showingData]="showData === false">hidden date</button>
  
  <ul *ngIf="showData === true">
    <li><b>movie: </b> {{movie.title}}</li>
    <li><b>director: </b> {{movie.director}}</li>
    <li><b>year: </b> {{movie.year}}</li>
  </ul>

  <p><input type="text" (keypress)="onLog()" [(ngModel)]="movie.title"></p>

  <hr>

  <h3>movie list</h3>
  <ul>
    <ul *ngFor="#row of movies" style="margin-bottom: 15px;">
      <li><b>id: </b> {{row.id}}</li>
      <li (click)="onChangeMovie(row)" class="movie-title" [class.clicked]="movieSeleted.title === row.title"><b>movie: </b> {{row.title}}</li>
      <li><b>director: </b> {{row.director}}</li>
      <li *ngIf="row.year"><b>year: </b> {{row.year}}</li>
      <li><a [routerLink]="['Addmovieparameter',{title: row.title}]">Add movie based on this</a></li>
    </ul>
  </ul>
</div>
